[Unit]
Description=Minecraft test service
Wants=network-online.target

[Service]
Type=forking
PIDFile=/opt/minecraft/mainsurvival/pid.txt
Restart=on-failure
RestartSec=10
User=root
WorkingDirectory=/opt/minecraft/mainsurvival/
ExecStart=/opt/minecraft/mainsurvival/runmc.sh
ExecStop=/opt/minecraft/mainsurvival/stopmc.sh

[Install]
WantedBy=multi-user.target
